{%extends 'base.html'%}
{%block style%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/games/main.css'%}">
{%endblock%}
{%block content%}
<div class="game_main">
    <h1 class="imp1">Info :</h1>
    <hr>
    <h2 class="imp2">Download instructions:</h2>
    <ol class="mylist">
        <li>On desired game's page click Download File.</li>
        <li>Wait for the instalation to complete.</li>
        <li>Find file no your pc and extract it.</li>
        <li>Open exctraced file and click file NameOfGame.exe</li>
        <li>You are playing the game</li>
    </ol>
    <h2 class="imp3">Contact creator:</h2>
    <ul class="mylist">
        <li>gameszonemain1@gmail.com</li>
    </ul>
</div>
{%endblock%}